/* nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
    padding: 0 3rem;
    position: fixed;
    width: 100%;
    transition: 200ms ease-in-out background-color,
                200ms ease-in-out box-shadow;
}
.logo {
    color: #fff;
    font-size: 2rem;
    letter-spacing: .5rem;
    transition: 200ms ease-in-out color;
}
.nav_links a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: .5rem 1.2rem;
    font-size: 1.1rem;
    text-shadow: 0 0 .3rem rgba(0, 0, 0, .6);
    transition: 200ms ease-in-out background-color,
                200ms ease-in-out color;
}
.nav_links a:hover {
    background-color: royalblue;
}

section {
    width: 100%;
    height: 100vh;
    background-image: url(https://unsplash.it/1600/900);
}
section:last-of-type {
    background-image: url(https://unsplash.it/1601/900);
}


.active_nav {
    background-color: #fff;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .6);
}
.active_nav .nav_links a,
.active_nav .logo {
    color: #0e0e0e;
}
.active_nav .nav_links a:hover {
    color: #fff;
} */
/* .button{
    border-radius: 12px; 
    width: 50px; 
    height: 50px; 
    margin-left: 1rem; 
    margin-top: 5px; 
    background: #4318FF; 
    color: white; 
    border-color: #4318FF;
} */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');
body{
    font-family: Poppins;
}
.gambar{
    margin-left: -14rem;
    margin-top: 5rem;
}

.text-always{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #252F40;
    flex: none;
}

.text-our{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #67748E;
}
.kotak{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 30px;
    top: 30px;
    background: #4318FF;
    border-radius: 12px;
}

.iis-card{
    border-radius: 16px;
    width: 19rem;
}

.putri-card{
    border-radius: 16px;
    width: 19rem;
    margin-left: 45px;
}
@media (max-width: 767.98px) {
    .gambar{
        width: 35rem;
        height: 25rem;
    }
    .iis-card{
        left: 10px;
    }
    .putri-card{
        border-radius: 16px;
        width: 19rem;
        left: -33px;
        top: 30px;
    }
    .mt-4{
        top: 100px;
    }
}

.card-judul{
    width: 250px;
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #252F40;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 80px;
    margin-left: 13px;
}

.card-text{
    width: 250px;
    height: 72px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #67748E;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin-left: 13px;
}