.navbar{
    background-color: #F2eee3;
    width: 100%;
}
.logo{
    color: black;
    text-decoration: none;
    margin-right: 350px;
}
.dropdown-menu{
    background-color: #e7d4c5;
}

.buttonall{
    margin-right: 380px;
    width: 200px;
}